h1 {
    font-family: 'Montserrat';
    font-size: 96px;
    text-align: center;
    color: white;
}
h2 {
   background: url(./underconstruction.png) no-repeat center center;
   height: 50%;
}

.s1 {
    background-color: #46494C;
    background-size: cover;
}

.s2 {
    background-color: #5CA4A9;
    background-size: cover;
}

.s3 {
    background-color: #46494C;
    background-size: cover;
}

ul {
    color: black !important;
}

span {
      background: gray !important;
      color: black !important;
}

.fp-controlArrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  margin-left: 2em;
  margin-right: 2em;
  
  -webkit-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}


